Source: iptables-hanxhx
Section: net
Priority: extra
Maintainer: Emilien Mantel <emilien.mantel@debianiste.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/HanXHX/iptables-hanxhx 
Vcs-Git: https://github.com/HanXHX/iptables-hanxhx.git 

Package: iptables-hanxhx
Architecture: all
Depends: ${misc:Depends}
Description: Firewall Manager 
 Firewall and kernel manager for WebHosts.
